* {
    margin: 0;
    padding: 0;
}
body {
    background-color: aquamarine;
    background-image: url(https://phonoteka.org/uploads/posts/2021-04/1618489733_29-p-fon-bravo-stars-dlya-shapki-30.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Rampart One', cursive;
    text-decoration: none;
    overflow-x: hidden;
    position: relative;
}
.landing {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
.landing main {
    width: 70vw;
    height: 100vh;
}
.landing main .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    font-size: 10em;
    background: -webkit-linear-gradient(158deg, rgba(76,0,255,1) 0%, rgba(255,0,249,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5vh;
}
.landing main .description {
    height: 40vh;
    font-size: 3em;
    padding: 5vw;
}
.landing .aside {
    width: 30vw;
    height: 100vh;
}
.info {
    height: 100vh;
}
.info h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 10vh;
    font-size: 5em;
}
.info .swiper {
    width: calc(100vw - 40px);
    height: 40vh;
    background-color: #DAEDF9;
    margin: 20vh 20px 0 20px;
}
.info .swiper .swiper-container {
    height: 100%;
}
.info .swiper .swiper-container .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.info .swiper .swiper-container .swiper-slide h1 {
    width: 100vw;
    height: 7vh;
    font-size: 3em;
}
.info .swiper .swiper-container .swiper-slide .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 20vh;
    margin: 5vh 0;
}
.info .swiper .swiper-container .swiper-slide .super {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 20vh;
    margin: 5vh 0;
    font-size: 5em;
    background: -webkit-linear-gradient(143deg, rgba(255,175,0,1) 0%, rgba(255,0,249,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    padding: 5px 0;
    bottom: 0;

    background: rgb(0,255,34);
    background: -moz-linear-gradient(135deg, rgba(0,255,34,1) 0%, rgba(0,241,255,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(0,255,34,1) 0%, rgba(0,241,255,1) 100%);
    background: linear-gradient(135deg, rgba(0,255,34,1) 0%, rgba(0,241,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ff22",endColorstr="#00f1ff",GradientType=1);
}
footer a {
    text-decoration: none;
    font-size: 1.5em;
}
@media (max-width: 900px) {
    .landing main .title {
        font-size: 7em;
    }
    .landing main .description {
        font-size: 2em;
    }
    .info h1 {
        font-size: 3em;
    }
    .info .swiper .swiper-container .swiper-slide .super {
        font-size: 3em;
    }
}
@media (max-width: 800px) {
    .landing .aside {
        position: absolute;
        width: 100vw;
        height: 100vh;
        padding: 10vw 0;
    }
    .landing main {
        width: 100vw;
        z-index: 100;
    }
    .landing .bg-blur {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: rgb(255,255,255);
        background: -moz-linear-gradient(180deg, rgba(255,255,255,0.6026785714285714) 0%, rgba(255,255,255,0.5) 44%, rgba(255,255,255,0.4) 84%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.6026785714285714) 0%, rgba(255,255,255,0.5) 44%, rgba(255,255,255,0.4) 84%, rgba(255,255,255,0) 100%);
        background: linear-gradient(180deg, rgba(255,255,255,0.6026785714285714) 0%, rgba(255,255,255,0.5) 44%, rgba(255,255,255,0.4) 84%, rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
        top: 0;
        left: 0;
        z-index: 99;
    }
}
@media (max-width: 550px) {
    .landing main .title {
        font-size: 5em;
    }
    .info h1 {
        font-size: 2em;
    }
    .info .swiper .swiper-container .swiper-slide h1 {
        font-size: 2em;
    }
    .info .swiper .swiper-container .swiper-slide .super {
        font-size: 2em;
    }
}
.count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10vw;
    height: 5vw;
    background-color: green;
    font-size: 0.7em;
    top: 0;
    right: 0;
    position: fixed;
    color: white;
    font-family: sans-serif;
}
